.role_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminText {
    font-size: 1.5rem;
    color: #263958;
    font-weight: 600;
}

.accounts_div {
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 1rem;
    padding: 2rem 1.4rem;
}

.cardDes {
    width: 85%;
    color: #191919;
    margin-top: 1rem;
    font-weight: 500;
    opacity: .8;
    font-size: 1rem;
}

.cardContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.card {
    width: 25%;
    min-height: 130px;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
}

.associateText {
    margin-top: 1rem;
    color: #191919;
    font-size: 1rem;
    font-weight: 500;
}

.tableContainer {
    max-width: 100%;
    padding: 1.5rem 1rem;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.btn {
    background: #FFFFFF !important;
    color: #d61a1a !important;
    border: 1px solid #d61a1a !important;
    font-weight: 600 !important;
}

.modalForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 2rem 0;
}

.chechBoxContainer {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .5rem;
    row-gap: .8rem;
}

.modalBtnContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
}

@media (max-width:840px) {
    .cardContainer {
        flex-direction: column;
    }

    .card {
        width: 100% !important;
    }
}

@media (max-width:660px) {
    .role_btn {
        flex-direction: column;
        gap: 1rem;
    }
}